mixin svg(name)
	svg&attributes(attributes)
		use(xlink:href=`./images/sprites.svg#${name}`)

mixin anchors(links)
	nav.scroll-anchors
		ul.scroll-anchors__links
			each link in links
				li.scroll-anchors__link
					a(href=link.href class=link.active && '--active')= link.text

mixin cardType1(card)
	.card__wrapper
		.card__wrapper-content
			.card__inner(class=card.active && 'active')
				.card__inner-content
					.card__text
						span.card__title=card.title
						span.card__subtitle=card.subtitle

mixin cardType2(card)
	.card__wrapper
		.card__wrapper-content
			.card__inner
				.card__inner-content
					img(src=card.path)
			.card__text
				span.card__title=card.title
				span.card__subtitle=card.subtitle

mixin cardType3(card)
	.card__wrapper
		.card__wrapper-content
			.card__inner(class=card.active && 'active')
				.card__inner-content
					.card__img
						img(src=card.href)
					span.card__title=card.title

mixin cardType4(card)
	.card__wrapper
		.card__wrapper-content
			.card__inner(class=card.active && 'active')
				.card__inner-content
					span.card__title=card.title